# Input: Zusammengesetzte Datentypen

Basierend auf den "atomaren" oder primitiven Datentypen exisiteren komplexere Datenstrukturen, die aber an sich immer noch sehr einfach sind.

## List

Eine `List`:

- speichert die Reihenfolge, in der die Werte eingegeben werden
- kann unterschiedliche Datentypen enthalten
- wird mit eckgigen Klammern (`[` und `]`) erstellt

In [4]:
hexerei = [3,1,2]

Der erste Wert wird in Python mit `0` aufgerufen:

In [5]:
hexerei[0]

3

In [7]:
type(hexerei)

list

In einer List können verschiedene Datentypen enthalten sein, auch weitere, verschachtelte Lists

In [16]:
chaos = [23, "ja", [1,2,3]]

In [18]:
# Der Inhalt vom ersten Wert ist vom Typ "Int"
type(chaos[0])

int

In [50]:
# Der Inhalt vom dritten Wert ist vom Typ "List"

type(chaos[2])

list

```{admonition} Für R Nutzer
:class: tip
Eine Python List entspricht eines R Vectors 
```

## Dict

Eine `Dict`: 

- speichert die Reihenfolge, in der die Werte eingegeben werden **nicht**
- kann unterschiedliche Datentypen enthalten
- wird mit geschweiften Klammern (`{` und `}`) erstellt
- speichert für jeden Wert («Value») einen Schlüssel («Key»), mit dem er abgerufen werden kann:

`dict_name = {"Key" : "Value}`

In [12]:
menue = {"Vorspeise": "Suppe",
         "Hauptspeise": "Gratin",
         "Dessert": "Eis"}

In [13]:
menue["Vorspeise"]

'Suppe'

Auch hier sind verschiedene Datentypen möglich:

In [15]:
menue = {"Vorspeise": "Suppe",
         "Hauptspeise": ["Gratin","Spinat", "Salat"],
         "Dessert": "Himbeerglacé",
         "Preis": 50}

In [22]:
type(menue)

dict

## DataFrame

Bei den bisherigen Datentypen handelte es sich um Strukturen, die in der Standartinstallation von Python enhalten sind. Tabellarische Strukturen sind in Python, im Gegensatz zu R, nicht standardmässig vorhanden. Dazu brauchen wir eine Erweiterung zu Python: Was es sich damit auf sich hat und wie diese installiert wird erfahren wir später. An dieser Stelle möchte ich nur die Struktur `DataFrame` vorstellen. `DataFrames` sind:

- Tabellarische Daten
- Ein Spezialfall einer Dict:
  - `values` sind `Lists` von gleicher Länge
  - alle Werte in einer `List` bestehen aus dem gleichen Datentyp
- jeder `key` ist ein Spaltenname

In [24]:
import pandas as pd

In [34]:
menue2 = {"Typ": ["Vorspeise","Hauptspeise","Dessert"],
          "Beschreibung": ["Suppe","Gratin mit Spinat", "Himbeerglacé"],
          "Preis": [7.50, 32.0, 10.50]}

menue2

{'Typ': ['Vorspeise', 'Hauptspeise', 'Dessert'],
 'Beschreibung': ['Suppe', 'Gratin mit Spinat', 'Himbeerglacé'],
 'Preis': [7.5, 32.0, 10.5]}

In [35]:
type(menue2)

pandas.core.frame.DataFrame

In [38]:
menue_df = pd.DataFrame(menue2)

menue_df

           Typ       Beschreibung  Preis
0    Vorspeise              Suppe    7.5
1  Hauptspeise  Gratin mit Spinat   32.0
2      Dessert       Himbeerglacé   10.5

In [40]:
type(menue_df)

pandas.core.frame.DataFrame

## Tuples

`Tuples` sind ähnlich wie `Lists`, nur können sie nachträglich nicht verändert werden. Das heisst, es ist nach der Erstellung keine Ergänzung von neuen Werten oder Löschung von bestehenden Werten möglich. `Tuples` werden mit runden Klammern (`(` und `)`) erstellt.

Dieser Datentyp spielt im unserem Kurs *Coding in GIS* eine untergeorndete Rolle.

In [44]:
gewinner = (1,2,3)

In [45]:
type(gewinner)

tuple

## Sets

`Sets` sind ähnlich wie `Dicts`, jedoch kommt jeder Wert nur 1x vor. Zudem verfügen `Sets` nicht über `keys` und `values`. Sie werden mit geschweiften Klammern (`{` und `}`) erstellt.

Dieser Datentyp spielt im unserem Kurs *Coding in GIS* eine untergeorndete Rolle.

In [46]:
hexerei2 = {1,2,3,1,2,2,1,3}

In [47]:
hexerei2

{1, 2, 3}

In [49]:
type(hexerei2)

set