# Zusammengesetzte Datentypen

Im letzten Kapitel haben wir primitive Datentypen angeschaut. Diese stellen eine gute Basis dar, in der Praxis haben wir aber meistens nicht *einen* Temperaturwert, sondern eine Liste von Temperaturwerten. Wir haben nicht *einen* Vornamen sondern eine Tabelle mit Vor- und Nachnamen. Dafür gibt es in Python komplexere Datenstrukturen die als Gefässe für primitive Datentypen betrachtet werden können.  Auch hier finden wir viele Ähnlichkeiten mit R:

| Python  	| R         	| Beschreibung                               |
|---------	|-----------	| -------------------------------------------|
| List   	| Vector   		| Mehrere Werte, Abrufen über Position       |
| Dict  	| List 			| Mehrere Werte, Abrufen über Schlüsselwörter|
| DataFrame	| Dataframe   	| Tabellarische Daten                        |

## List

Eine `List`:

- speichert die Reihenfolge, in der die Werte eingegeben werden
- kann unterschiedliche Datentypen enthalten
- wird mit eckgigen Klammern (`[` und `]`) erstellt

In [4]:
hexerei = [3,1,2]

Der erste Wert wird in Python mit `0` (!!!) aufgerufen:

In [5]:
hexerei[0]

3

In [7]:
type(hexerei)

list

In einer List können verschiedene Datentypen enthalten sein, auch weitere, verschachtelte Lists

In [16]:
chaos = [23, "ja", [1,2,3]]

In [18]:
# Der Inhalt vom ersten Wert ist vom Typ "Int"
type(chaos[0])

int

In [50]:
# Der Inhalt vom dritten Wert ist vom Typ "List"

type(chaos[2])

list

## Dict

Eine `Dict`: 

- ist kurz für *Dictionary*
- speichert die Reihenfolge, in der die Werte eingegeben werden **nicht**
- kann unterschiedliche Datentypen enthalten
- wird mit geschweiften Klammern (`{` und `}`) erstellt
- speichert für jeden Wert ("Value") einen Schlüssel ("Key"), mit dem er abgerufen werden kann: `dict_name = {"Key" : "Value}`

In [12]:
menue = {"Vorspeise": "Suppe",
         "Hauptspeise": "Gratin",
         "Dessert": "Eis"}

In [13]:
menue["Vorspeise"]

'Suppe'

Auch hier sind verschiedene Datentypen möglich:

In [15]:
menue = {"Vorspeise": "Suppe",
         "Hauptspeise": ["Gratin","Spinat", "Salat"],
         "Dessert": "Himbeerglacé",
         "Preis": 50}

In [22]:
type(menue)

dict

## DataFrame

Bei den bisherigen Datentypen handelte es sich um Strukturen, die in der Standartinstallation von Python enhalten sind. Tabellarische Strukturen sind in Python, im Gegensatz zu R, nicht standardmässig vorhanden. Dazu brauchen wir eine Erweiterung zu Python: Was es sich damit auf sich hat und wie diese installiert wird erfahren wir später. An dieser Stelle möchte ich nur die Struktur *DataFrame* vorstellen. *DataFrames* sind tabellarische Daten. Man kann sie auch als "Spezialfall" einer *Dict* betrachten, wo alle Werte (also *Keys*) die gleiche Länge haben.

In [14]:
menue2 = {"Typ": ["Vorspeise","Hauptspeise","Dessert"],
          "Beschreibung": ["Suppe","Gratin mit Spinat", "Himbeerglacé"],
          "Preis": [7.50, 32.0, "10.50"]}

{'Typ': ['Vorspeise', 'Hauptspeise', 'Dessert'],
 'Beschreibung': ['Suppe', 'Gratin mit Spinat', 'Himbeerglacé'],
 'Preis': [7.5, 32.0, '10.50']}

In [15]:
type(menue2)

dict

Beachte, dass nun aus den *Key* Spaltennamen werden:

In [20]:
import pandas as pd # Was diese Zeile beudeutet lernen wir später

menue_df = pd.DataFrame(menue2)
menue_df

           Typ       Beschreibung  Preis
0    Vorspeise              Suppe    7.5
1  Hauptspeise  Gratin mit Spinat     32
2      Dessert       Himbeerglacé  10.50

In [18]:
type(menue_df)

pandas.core.frame.DataFrame

## Weitere Strukturen

In Python gibt es noch weitere zusammengesetzte Datentypen wie *Tuples* und *Sets*. Diese spielen im unserem Kurs aber eine untergeorndete Rolle. Ich erwähne sie an dieser Stelle zwei häufig gennante Typen, damit ihr sie schon mal gehört habt:

- *Tuples*: 
  - sind ähnlich wie *Lists*, nur können sie nachträglich nicht verändert werden. Das heisst, es ist nach der Erstellung keine Ergänzung von neuen Werten oder Löschung von bestehenden Werten möglich. 
  - sie werden mit runden Klammern (`(` und `)`) erstellt (`mytuple = (2,2,1)`).
- *Sets*
  - sind ähnlich wie *Dicts*, verfügen nicht über `keys` und `values`
  - jeder Wert wird nur 1x gespeichert (Duplikate werden automatisch gelöscht)
  - Sie werden mit geschweiften Klammern (`{` und `}`) erstellt.

## Übung 1: Lists

1. Erstelle eine Variable `vornamen` bestehend aus einer *List* mit 3 Vornamen
2. Erstelle eine zweite Variable `nachnamen` bestehend aus einer *List* mit 3 Nachnamen
3. Erstelle eine Variable `groessen` bestehend aus einer *List* mit 3 Grössenangaben in Zentimeter.

In [3]:
# Musterlösung

vornamen = ["Christopher", "Henning", "Severin"]
nachnamen = ["Annen","May", "Kantereit"]

groessen = [174, 182, 162]

## Übung 2: Elemente aus Liste ansprechen

Wie erhältst du den ersten Eintrag in der Variable `vornamen`?

In [4]:
# Musterlösung

vornamen[0]

'Christopher'

## Übung 3: Liste ergänzen

Listen können durch der Method `append` ergänzt werden (s.u.). Ergänze in die Listen `vornamen`, `nachnamen` und `groessen` durch je einen Eintrag.

In [ ]:
vornamen.append("Malte")

In [ ]:
# Musterlösung

nachnamen.append("Huck")

groessen.append(177)